In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
path = "//192.168.0.3/Data/Masterarbeit/0 ArtikelstammV4.csv"
SAVE_DIR = "//192.168.0.3/Data/Masterarbeit/HDF"

In [4]:
df = pd.read_csv(path)

In [5]:
df.columns

Index(['ARTIKEL', 'WARENGRUPPE', 'DETAILWARENGRUPPE', 'BEZEICHNUNG',
       'KNZ_EIGENMARKE', 'KNZ_EINHEIT', 'KNZ_VERKAUFSEINH', 'ANZ_TAGE_MHD',
       'KNZ_GUT1GUENSTIG', 'KNZ_OSE', 'KNZ_OSE_TEXT', 'KNZ_SAISONARTIKEL',
       'KNZ_KERNSORTIMENT', 'KNZ_BIOETIKETT', 'KNZ_GLUTENFREI',
       'KNZ_LAKTOSEFREI', 'KNZ_MARKE_FK', 'KNZ_REGION'],
      dtype='object')

In [6]:
relevant_columns = ['ARTIKEL', 'WARENGRUPPE', 'DETAILWARENGRUPPE', 
       'KNZ_EIGENMARKE', 'ANZ_TAGE_MHD',
       'KNZ_GUT1GUENSTIG']

In [7]:
mask = ~df.columns.isin(relevant_columns)

In [8]:
df.drop(columns=df.columns[mask], inplace=True)

In [9]:
df.DETAILWARENGRUPPE.fillna(0, inplace=True)
df.DETAILWARENGRUPPE = df.DETAILWARENGRUPPE.astype(int)
df.WARENGRUPPE.fillna(0, inplace=True)

In [10]:
bins = [0, 3, 6, 10, 15, 22, 30, 60, 150, 400, 9000]

In [11]:
arr = df.ANZ_TAGE_MHD.to_numpy()

In [12]:
df['ANZ_TAGE_MHD'] = np.digitize(arr, bins)

In [13]:
df.ANZ_TAGE_MHD.fillna(0, inplace=True)

In [14]:
df['MARKE'] = df.KNZ_EIGENMARKE - 1 + df.KNZ_GUT1GUENSTIG

In [15]:
df.drop(columns=['KNZ_EIGENMARKE', 'KNZ_GUT1GUENSTIG'], inplace=True)

In [16]:
df.head()

   ARTIKEL  WARENGRUPPE  DETAILWARENGRUPPE  ANZ_TAGE_MHD  MARKE
0        1           49               4268             4     -1
1        2           49               4268             4     -1
2        4           49               4266             5     -1
3        5           49               4268             5     -1
4        6           49               4266             8     -1

In [22]:
if not os.path.isdir(SAVE_DIR):
    os.mkdir(SAVE_DIR)

with pd.HDFStore(os.path.join(SAVE_DIR, 'data.h5')) as store:
    store.put('artikelstamm', df)